body {
    background-color: rgb(248, 248, 248);
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 1000px;
}
main {
   
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
    
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 40px;
    color: black;
    
}

.title {
    text-align: center;
    font-size: 16px;
    color: rgb(95, 95, 95);
    
    
}
figure {
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    

}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto 8px;
    align-items: center;

    
}

figcaption {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    margin: 16px 0;
    display: list-item;  
    line-height: 28px;
}
 
ul {
    
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    
}

blockquote {
    max-width: 555px;
    margin: 0 auto 50px auto;
    font-style: italic;
    line-height: 24px;
}

h3 a {
    text-align: center;
    color: #477ca7;
    padding-bottom: 20px;

}